<div id="{{mojit_view_id}}">
	<div id="wrap" class="{{#if located}}located{{else}}loading{{/if}}">
        <div id="header">
            


<!-- partial: header /-->
<h1>
    <a href="/" id="logo">
        <span class="pin-shadow"></span>
        <span class="pin"></span>
    </a>
    {{#if place}}
    <a href="/places/{{place.id}}/">
        Photos Near <span id="location">{{place.text}}</span>
    </a>
    {{else}}
    Photos Near <span id="location">Me</span>
    {{/if}}
</h1>



        </div>

        <div id="main">
            {{{lightbox}}}
            {{{grid}}}
        </div>
    </div>
</div>
